{% extends "base.html.twig" %}

{% block title %}Admin
{% endblock %}
{% form_theme form "bootstrap_5_layout.html.twig" %}

{% block body %}
	<div class="login">
		<div class="contentLog2 carte">
			{{ form_start(form) }}
            <h2>Création Matériel</h2>
            <div class="divider"></div>
            <div class="contentL3">
				<div class="lnh">
					{{ form_row(form.nom) }}
					{{ form_row(form.detail) }}
					<div class="form-file">
						<label for="materiel_img">
							<i class="fas fa-camera fa-2x"></i>
						</label>
						{{ form_widget(form.img,{'attr':{'class':'form-control', 'multiple accept':'image/png, image/jpeg'}}) }}
						<div class="form-file-path"></div>
					</div>
					<div class="justif">
						<button type="submit" class="boutn">Valider</button>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
			{% block javascripts %}
				<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>
				<script>
					Axentix.updateInputs()
				</script>
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
