{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<div class="addbtn">
		<a href="{{ path('create_mat') }}">
			<div class="GflexBtn">
				<div class="flex2">
					<i class="fal fa-2x fa-plus"></i>
					{# <i class="fal fa-2x fa-plus-circle"></i> #}
				</div>
				<div class="flex2">Ajouter</div>
			</div>
		</a>
	</div>

	{% for message in app.flashes('success') %}
		{{ message }}
	{% endfor %}

	<div class="containeRy">
		<div class="table-responsive carteborder">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Nom</th>
						<th>Detail</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for materiel in materiels %}
						<tr>
							<td>
								{# <img src="{{ asset('uploads/img/' ~ materiel.image) }}" alt=""> #}
								{# <img src="{{ materiel.image }}" alt=""> #}
								{# <img src="http://placehold.it/350x150" alt=""> #}
								<img src="https://via.placeholder.com/100" alt=""> 
							</td>
							<td>{{ materiel.nom }}</td>
							<td>{{ materiel.detail }}</td>
							<td>
								<a href="{{ path('edit_mat', {id: materiel.id}) }}">
									<i class="far fa-edit edigray"></i>
								</a>
								<a href="{{ path('delete_mat', {id: materiel.id}) }}">
									<i class="far fa-minus-circle delred"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
